body{
	margin: 0;
	font-family: helvetica, arial, sans-serif;
	font-size: 20px;
	line-height: 30px;
}

header {
	background-color: #C0392B;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

h1, h2 {
	font-family: 'Aclonica', sans-serif;
}

header h1{
	color: whitesmoke;
	font-size: 30px;
}
header img{
	border-radius: 170px;
    width: 300px;
    border: 10px solid #154360;
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

main img{
	max-width: 100%;
}

h2{
	font-size: 25;
	color: #154360;
	margin: 40px 0px 10px;
}

a{
	color: #154360;
}
a:hover{
	color: darkred;
}

footer{
	background-color: #C0392B;
	text-align: center;
	color: whitesmoke;
	padding: 50px;
}

footer p{
	margin: 0;
}
footer a{
	color: ghostwhite;
}

p.caption{
	color: #999999;
	font-style: italic;
	margin-top: 0;
}