body {
	background-color: antiquewhite;
}
h1{
	font-size: 30px;
	color: blueviolet;
}
h2{
	font-size:  20px;
	color: darkred;
}
.big{
	font-size: 60px;
}
.uppercase{
	text-transform: uppercase;

}
.big.uppercase{
	color: navy;
}
h1 span {
	color: violet;
}
